<html lang="en" xmlns:th ="http://www.thymeleaf.org" >


<link th:fragment ="image-favicon" rel="shortcut icon" type="image/x-icon" href="image/hi.ico" />
<link th:fragment = "bootstrap-link" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script th:fragment = "bootstrap-script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment = "header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:text="#{nav.site.name}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" th:text="#{nav.index.name}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{nav.record.search}"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    th:text="#{nav.board.name}">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <label>
                <select class="form-select" onchange="location.href = location.pathname + '?lang=' + this.value;">
                    <option th:text="#{region.select}" value="ko"></option>
                    <th:block th:each="regionTypeList :${regionTypeList}">
                        <option th:text="${regionTypeList}" th:value="${regionTypeList}"></option>
                    </th:block>
                </select>
            </label>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

</html>